<h1>New match</h1>

<p>
  Date: <%= @appointment.offer_time.time %><br />
  Location: <%= @appointment.location.name %><br />
</p>

<p>
  Local: <%= @appointment.offer.email %><br />
  Country: <%= @appointment.offer.country %><br />
  City: <%= @appointment.offer.city %><br />
</p>

<p>
  Refugee: <%= @appointment.email %><br />
  Country: <%= @appointment.country %><br />
  City: <%= @appointment.city %><br />
</p>
